.producto {
  width: calc(25% - 20px); /* Ancho del producto, con un espacio de 10px en cada lado */
  margin: 10px; /* Espacio entre productos */
}
  
.producto .card-img-top {
  width: 100%; /* Ancho del 100% para la imagen dentro de la tarjeta */
  height: auto; /* Altura automática para mantener la relación de aspecto */
}